* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(31, 187, 192);
}

header {
    margin: 1rem 0;
    padding: 0 2rem;
    color: #ffffff;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    text-transform: uppercase;
    line-height: 1rem;
}

.slideshow-container {
    position: relative;
}

.slider {
    display: flex;
    overflow: hidden; 
    position: relative; 
}

.show {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.hide {
    display: none;
}

@-webkit-keyframes fade {
    0% {
        opacity: .4
    } 
    100% {
        opacity: 1
    }
}
  
@keyframes fade {
    0% {
        opacity: .4
    } 
    100% {
        opacity: 1
    }
}

img {
    width: 100%;
}

.caption {
    color: #ffffff;
    background-color: rgba(0,0,0,.4); 
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;
}

.count {
    color: #ffffff;
    background-color: rgba(0,0,0,.4);
    padding: .5rem 1rem;
    position: absolute;
    top: 0;
}

.prev, .next {
    position: absolute;
    top: 42%; 
    padding: 1rem;
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
    transition: 0.6s ease;
    cursor: pointer;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgb(31, 187, 192, 0.8);
}

.dots {
    text-align: center;
    margin: 1rem;
    bottom: 1rem;
}
  
.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: .5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.dot-showed, .dot:hover {
    background-color: #717171;
}

@media only screen and (max-width: 768px) {
    header {
        line-height: 2rem;
    }
}